In [ ]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import geopandas as gpd

## Cleaning the racial data

In [ ]:
# Read csv file to dataframe
race =  pd.read_csv('data/race_county_data/original_georgia_race_data.csv', skiprows = 1)

pd.options.display.width=None
pd.set_option('max_row', None)
pd.set_option('display.max_rows', race.shape[0] + 1)
pd.set_option('display.expand_frame_repr', False)

In [ ]:
print(race.columns)
print(race.shape)

There's a weird space at the start of each column name so we can remove that. We will combine the columns with the data on the number of people that identify their race as 'American Indian and Alaska Native alone, Native Hawaiian' and 'Other Pacific Islander alone' and 'Some Other Race alone' into an 'Others' column. We wil also combine the data on the number of people that identify as more than one race as 'Mixed'.

In [ ]:
race.columns = race.columns.str.lstrip()

race.columns = race.columns.map(str)

race.rename(columns={'!!Total:!!Not Hispanic or Latino:!!Population of two or more races:':'Mixed'}, inplace = True)

race['Others'] = race['!!Total:!!Not Hispanic or Latino:!!Population of one race:!!American Indian and Alaska Native alone'] + race['!!Total:!!Not Hispanic or Latino:!!Population of one race:!!Native Hawaiian and Other Pacific Islander alone'] + race['!!Total:!!Not Hispanic or Latino:!!Population of one race:!!Some Other Race alone']

Then we create a new datafram with only the columns we want: 'Total', 'White', 'Black', 'Asian' and the previously created columns of 'Others' and 'Mixed. We will also rename the columns accordingly.

In [ ]:
# Create a new dataframe with the desired columns
race = race[['Geographic Area Name', 'id', '!!Total:', '!!Total:!!Hispanic or Latino', '!!Total:!!Not Hispanic or Latino:!!Population of one race:!!White alone', '!!Total:!!Not Hispanic or Latino:!!Population of one race:!!Black or African American alone','!!Total:!!Not Hispanic or Latino:!!Population of one race:!!Asian alone', 'Mixed', 'Others' ]].copy()

# Rename the columns
race.columns = ['Area Name', 'id', 'Total', 'Hispanic', 'White', 'Black', 'Asian', 'Mixed', 'Others']

In [79]:
print(race.head())

                  Area Name              id  Total  Hispanic  White  Black  Asian  Mixed  Others  Population Density:Hispanic  Population Density: White  Population Density: Black  Population Density: Asian  Population Density: Mixed  Population Density: Others
0   Appling County, Georgia  0500000US13001  18444      1825  12674   3339    123    417      66                     0.098948                   0.687161                   0.181034                   0.006669                   0.022609                    0.003578
1  Atkinson County, Georgia  0500000US13003   8286      2048   4801   1208     12    167      50                     0.247164                   0.579411                   0.145788                   0.001448                   0.020154                    0.006034
2     Bacon County, Georgia  0500000US13005  11140       875   8103   1747     40    335      40                     0.078546                   0.727379                   0.156822                   0.003591                   0.030072                    0.003591
3     Baker County, Georgia  0500000US13007   2876       143   1514   1128     18     70       3                     0.049722                   0.526426                   0.392211                   0.006259                   0.024339                    0.001043
4   Baldwin County, Georgia  0500000US13009  43799      1139  22432  18318    599   1027     284                     0.026005                   0.512158                   0.418229                   0.013676                   0.023448                    0.006484

In [80]:
race.head(20)

                   Area Name              id   Total  Hispanic  White  Black  Asian  Mixed  Others  Population Density:Hispanic  Population Density: White  Population Density: Black  Population Density: Asian  Population Density: Mixed  Population Density: Others
0    Appling County, Georgia  0500000US13001   18444      1825  12674   3339    123    417      66                     0.098948                   0.687161                   0.181034                   0.006669                   0.022609                    0.003578
1   Atkinson County, Georgia  0500000US13003    8286      2048   4801   1208     12    167      50                     0.247164                   0.579411                   0.145788                   0.001448                   0.020154                    0.006034
2      Bacon County, Georgia  0500000US13005   11140       875   8103   1747     40    335      40                     0.078546                   0.727379                   0.156822                   0.003591                   0.030072                    0.003591
3      Baker County, Georgia  0500000US13007    2876       143   1514   1128     18     70       3                     0.049722                   0.526426                   0.392211                   0.006259                   0.024339                    0.001043
4    Baldwin County, Georgia  0500000US13009   43799      1139  22432  18318    599   1027     284                     0.026005                   0.512158                   0.418229                   0.013676                   0.023448                    0.006484
5      Banks County, Georgia  0500000US13011   18035      1164  15578    394    189    620      90                     0.064541                   0.863765                   0.021846                   0.010480                   0.034378                    0.004990
6     Barrow County, Georgia  0500000US13013   83505     10560  55582  10141   3233   3383     606                     0.126459                   0.665613                   0.121442                   0.038716                   0.040513                    0.007257
7     Bartow County, Georgia  0500000US13015  108901     10751  80159  11309   1169   4753     760                     0.098723                   0.736072                   0.103847                   0.010735                   0.043645                    0.006979
8   Ben Hill County, Georgia  0500000US13017   17194      1054   9219   6222    116    478     105                     0.061300                   0.536175                   0.361870                   0.006747                   0.027800                    0.006107
9    Berrien County, Georgia  0500000US13019   18160      1045  14396   1934     80    611      94                     0.057544                   0.792731                   0.106498                   0.004405                   0.033645                    0.005176
10      Bibb County, Georgia  0500000US13021  157346      6737  56787  85234   3209   4454     925                     0.042816                   0.360905                   0.541698                   0.020395                   0.028307                    0.005879
11  Bleckley County, Georgia  0500000US13023   12583       469   8867   2788    153    257      49                     0.037273                   0.704681                   0.221569                   0.012159                   0.020424                    0.003894
12  Brantley County, Georgia  0500000US13025   18021       326  16317    562     42    692      82                     0.018090                   0.905444                   0.031186                   0.002331                   0.038400                    0.004550
13    Brooks County, Georgia  0500000US13027   16301       955   9066   5684     67    457      72                     0.058585                   0.556162                   0.348690                   0.004110                   0.028035                    0.004417
14     Bryan County, Georgia  0500000US13029   44738      3269  31321   6330   1032   2447     339                     0.073070                   0.700098                   0.141490                   0.023068                   0.054696                    0.007577
15   Bulloch County, Georgia  0500000US13031   81099      4180  49712  22775   1283   2679     470                     0.051542                   0.612979                   0.280830                   0.015820                   0.033034                    0.005795
16     Burke County, Georgia  0500000US13033   24596       777  11941  10957     97    703     121                     0.031591                   0.485485                   0.445479                   0.003944                   0.028582                    0.004919
17     Butts County, Georgia  0500000US13035   25434       803  16628   6808    102    881     212                     0.031572                   0.653771                   0.267673                   0.004010                   0.034639                    0.008335
18   Calhoun County, Georgia  0500000US13037    5573       149   1766   3569     19     61       9                     0.026736                   0.316885                   0.640409                   0.003409                   0.010946                    0.001615
19    Camden County, Georgia  0500000US13039   54768      3658  37203   9497    845   2989     576                     0.066791                   0.679284                   0.173404                   0.015429                   0.054576                    0.010517

Creating rows with density.

In [ ]:
for ind, row in race.iterrows():
  race.loc[ind,"Population Density:Hispanic"]= row ['Hispanic']/row['Total']
  race.loc[ind,"Population Density: White"] = row ['White']/row['Total']
  race.loc[ind,"Population Density: Black"]= row['Black']/row['Total']
  race.loc[ind,"Population Density: Asian"]= row ['Asian']/row['Total']
  race.loc[ind,"Population Density: Mixed"]=row['Mixed']/row["Total"]
  race.loc[ind,"Population Density: Others"]=row["Others"]/row["Total"]

In [ ]:
race.tail(20)

Downloading the dataframes into new files.

In [ ]:
race.to_csv('data/race_county_data/cleaned_georgia_race_county.csv')

In [ ]:
print(race.shape)

## Doing the same but for precincts

In [ ]:
race_precinct =  pd.read_csv('data/race_precinct_data/cleaned_georgia_race_precinct.csv', index_col=0)

race_precinct

In [ ]:
for ind, row in race_precinct.iterrows():
  race_precinct.loc[ind,"Population Density: Hispanic"]= row ['Hispanic']/row['Total']
  race_precinct.loc[ind,"Population Density: White"] = row ['White']/row['Total']
  race_precinct.loc[ind,"Population Density: Black"]= row['Black']/row['Total']
  race_precinct.loc[ind,"Population Density: Asian"]= row ['Asian']/row['Total']
  race_precinct.loc[ind,"Population Density: Mixed"]=row['Mixed']/row["Total"]
  race_precinct.loc[ind,"Population Density: Others"]=row["Others"]/row["Total"]

so we see which areas have a population total of 0

In [ ]:
race_precinct.loc[race_precinct['Total']==0]

In [ ]:
race_precinct.drop(race_precinct.loc[race_precinct['Total'] == 0].index, inplace=True)

In [ ]:
for ind, row in race_precinct.iterrows():
  race_precinct.loc[ind,"Population Density: Hispanic"]= row ['Hispanic']/row['Total']
  race_precinct.loc[ind,"Population Density: White"] = row ['White']/row['Total']
  race_precinct.loc[ind,"Population Density: Black"]= row['Black']/row['Total']
  race_precinct.loc[ind,"Population Density: Asian"]= row ['Asian']/row['Total']
  race_precinct.loc[ind,"Population Density: Mixed"]=row['Mixed']/row["Total"]
  race_precinct.loc[ind,"Population Density: Others"]=row["Others"]/row["Total"]

In [ ]:
race_precinct

In [ ]:
race_precinct.to_csv('data/race_precinct_data/cleaned_georgia_race_precinct_densities.csv')

# Preparing the polling site data

Had to use this: https://stackoverflow.com/questions/45690830/reading-in-csv-file-to-pandas-fails

In [ ]:
# Read csv file to dataframe
polling_site =  pd.read_csv('data/polling_site_data/original_polling_site_data_2.csv', encoding="utf-16", sep='\t')

In [ ]:
polling_site.shape

In [ ]:
polling_site['County'].value_counts()

In [ ]:
counties = polling_site['County'].value_counts().rename_axis('County').reset_index(name='Number of polling sites')
print(counties)

In [ ]:
counties.columns = counties.columns.map(str)
counties = counties.astype({'County': str, 'Number of polling sites': int})

counties['County'] = counties['County'].str.capitalize()

print(counties)

Now calculating the density

In [ ]:
counties['Total Population'] = pd.Series(race['Total'])
counties.head()

In [ ]:
for ind, row in counties.iterrows():
  counties.loc[ind,"Polling Site Density"]= row ['Number of polling sites']/row['Total Population']

In [ ]:
counties.head()

In [ ]:
counties.to_csv('data/polling_site_data/polling_sites_in_counties.csv')

## Doing the same but for the new file

In [103]:
# Read csv file to dataframe
polling_site_new =  pd.read_csv('data/polling_site_data_new/original.csv')

polling_site_new

     election_date state county_name jurisdiction jurisdiction_type precinct_id  precinct_name  polling_place_id location_type                              name                                         address            notes source source_date  source_notes
0       2020-11-03    GA     Appling      Appling            county           2            NaN              1012  election_day  LIONS CLUB BLDG/ AT FAIR GROUNDS             245 INDUSTRIAL DR, BAXLEY, GA 31513            OTHER    ORR  2020-10-19           NaN
1       2020-11-03    GA     Appling      Appling            county          1C            NaN              1018  election_day        1ST ASSEMBLY OF GOD CHURCH              3397 HATCH PKY N, BAXLEY, GA 31513           CHURCH    ORR  2020-10-19           NaN
2       2020-11-03    GA     Appling      Appling            county          1B            NaN              1001  election_day             ALTAMAHA FIRE STATION        392 ALTAMAHA SCHOOL RD, BAXLEY, GA 31513  County Building    ORR  2020-10-19           NaN
3       2020-11-03    GA     Appling      Appling            county          4D            NaN              1006  election_day     BAX CH OF GOD/FELLOWSHIP HALL            353 BLACKSHEAR HWY, BAXLEY, GA 31513           CHURCH    ORR  2020-10-19           NaN
4       2020-11-03    GA     Appling      Appling            county          5A            NaN              1002  election_day                   BAXLEY CITY GYM             252 W. PARKER ST., BAXLEY, GA 31513  County Building    ORR  2020-10-19           NaN
...            ...   ...         ...          ...               ...         ...            ...               ...           ...                               ...                                             ...              ...    ...         ...           ...
2673    2020-11-03    GA       Worth        Worth            county           5            NaN            159014  election_day             SHINGLER FIRE STATION  126 SHINGLER LITTLE RIVER RD, POULAN, GA 31781              NaN    ORR  2020-10-19           NaN
2674    2020-11-03    GA       Worth        Worth            county           4            NaN            159022  election_day          SUMNER MUNICIPAL COMPLEX                 702 WALNUT ST, SUMNER, GA 31789              NaN    ORR  2020-10-19           NaN
2675    2020-11-03    GA       Worth        Worth            county          14            NaN            159016  election_day         VOLUNTEER FIRE DEPARTMENT          6104 WILLOW/BIRCH RD, ALBANY, GA 31705              NaN    ORR  2020-10-19           NaN
2676    2020-11-03    GA       Worth        Worth            county           9            NaN            159017  election_day               WARWICK COMM CENTER            111 DOGWOOD ST SW, WARWICK, GA 31796              NaN    ORR  2020-10-19           NaN
2677    2020-11-03    GA       Worth        Worth            county          15            NaN            159009  election_day          WORTH COUNTY AG BUILDING          102 REBECCA DRIVE, SYLVESTER, GA 31791              NaN    ORR  2020-10-19           NaN

[2678 rows x 15 columns]

In [104]:
polling_site_new['county_name'].value_counts()

Fulton           394
Dekalb           193
Gwinnett         156
Cobb             145
Chatham           92
Richmond          68
Clayton           65
Columbia          47
Cherokee          42
Henry             37
Fayette           36
Hall              31
Bibb              31
Carroll           28
Dougherty         28
Coweta            26
Floyd             25
Douglas           25
Muscogee          25
Clarke            24
Whitfield         23
Newton            22
Walton            21
Thomas            20
Glynn             20
Spalding          20
Forsyth           20
Paulding          19
Colquitt          19
Effingham         17
Houston           17
Bartow            17
Rockdale          16
Burke             16
Laurens           16
Dodge             16
Bulloch           16
Worth             15
Baldwin           14
Troup             14
Camden            14
Monroe            14
Meriwether        14
Banks             13
Lowndes           13
Gilmer            13
Chattooga         13
Liberty           13
Grady             13
Gordon            13
Tift              12
Ware              12
Haralson          12
Harris            12
Oconee            12
Wayne             12
Fannin            12
Madison           12
Pickens           12
Screven           12
Union             11
Catoosa           11
Mitchell          11
Sumter            11
Emanuel           11
Walker            11
Elbert            11
White             11
Bryan             10
Hancock           10
Jones             10
Lee               10
Mcduffie           9
Wilkinson          9
Appling            9
Jeff Davis         9
Decatur            9
Charlton           8
Barrow             8
Jefferson          8
Washington         8
Cook               8
Early              8
Tattnall           8
Pierce             8
Pike               8
Murray             7
Morgan             7
Montgomery         7
Peach              7
Polk               7
Long               7
Franklin           7
Dade               7
Lincoln            7
Talbot             7
Habersham          7
Hart               7
Brooks             7
Wilkes             7
Coffee             6
Randolph           6
Telfair            6
Terrell            6
Wilcox             6
Crawford           6
Heard              6
Lamar              6
Mcintosh           6
Crisp              5
Macon              5
Toombs             5
Calhoun            5
Greene             5
Berrien            5
Jenkins            5
Clay               5
Clinch             5
Seminole           5
Twiggs             5
Dooly              5
Putnam             5
Baker              5
Marion             5
Glascock           4
Johnson            4
Candler            4
Jackson            4
Atkinson           4
Upson              4
Stewart            4
Brantley           3
Jasper             3
Taylor             3
Oglethorpe         3
Turner             3
Dawson             3
Towns              3
Irwin              3
Ben Hill           2
Wheeler            2
Quitman            2
Taliaferro         2
Treutlen           2
Butts              1
Evans              1
Bacon              1
Miller             1
Echols             1
Pulaski            1
Rabun              1
Schley             1
Webster            1
Chattahoochee      1
Warren             1
Stephens           1
Bleckley           1
Lumpkin            1
Lanier             1
Name: county_name, dtype: int64

In [105]:
counties_new = polling_site_new['county_name'].value_counts().rename_axis('County').reset_index(name='Number of polling sites')
print(counties_new)

            County  Number of polling sites
0           Fulton                      394
1           Dekalb                      193
2         Gwinnett                      156
3             Cobb                      145
4          Chatham                       92
5         Richmond                       68
6          Clayton                       65
7         Columbia                       47
8         Cherokee                       42
9            Henry                       37
10         Fayette                       36
11            Hall                       31
12            Bibb                       31
13         Carroll                       28
14       Dougherty                       28
15          Coweta                       26
16           Floyd                       25
17         Douglas                       25
18        Muscogee                       25
19          Clarke                       24
20       Whitfield                       23
21          Newton                       22
22          Walton                       21
23          Thomas                       20
24           Glynn                       20
25        Spalding                       20
26         Forsyth                       20
27        Paulding                       19
28        Colquitt                       19
29       Effingham                       17
30         Houston                       17
31          Bartow                       17
32        Rockdale                       16
33           Burke                       16
34         Laurens                       16
35           Dodge                       16
36         Bulloch                       16
37           Worth                       15
38         Baldwin                       14
39           Troup                       14
40          Camden                       14
41          Monroe                       14
42      Meriwether                       14
43           Banks                       13
44         Lowndes                       13
45          Gilmer                       13
46       Chattooga                       13
47         Liberty                       13
48           Grady                       13
49          Gordon                       13
50            Tift                       12
51            Ware                       12
52        Haralson                       12
53          Harris                       12
54          Oconee                       12
55           Wayne                       12
56          Fannin                       12
57         Madison                       12
58         Pickens                       12
59         Screven                       12
60           Union                       11
61         Catoosa                       11
62        Mitchell                       11
63          Sumter                       11
64         Emanuel                       11
65          Walker                       11
66          Elbert                       11
67           White                       11
68           Bryan                       10
69         Hancock                       10
70           Jones                       10
71             Lee                       10
72        Mcduffie                        9
73       Wilkinson                        9
74         Appling                        9
75      Jeff Davis                        9
76         Decatur                        9
77        Charlton                        8
78          Barrow                        8
79       Jefferson                        8
80      Washington                        8
81            Cook                        8
82           Early                        8
83        Tattnall                        8
84          Pierce                        8
85            Pike                        8
86          Murray                        7
87          Morgan                        7
88      Montgomery                        7
89           Peach                        7
90            Polk                        7
91            Long                        7
92        Franklin                        7
93            Dade                        7
94         Lincoln                        7
95          Talbot                        7
96       Habersham                        7
97            Hart                        7
98          Brooks                        7
99          Wilkes                        7
100         Coffee                        6
101       Randolph                        6
102        Telfair                        6
103        Terrell                        6
104         Wilcox                        6
105       Crawford                        6
106          Heard                        6
107          Lamar                        6
108       Mcintosh                        6
109          Crisp                        5
110          Macon                        5
111         Toombs                        5
112        Calhoun                        5
113         Greene                        5
114        Berrien                        5
115        Jenkins                        5
116           Clay                        5
117         Clinch                        5
118       Seminole                        5
119         Twiggs                        5
120          Dooly                        5
121         Putnam                        5
122          Baker                        5
123         Marion                        5
124       Glascock                        4
125        Johnson                        4
126        Candler                        4
127        Jackson                        4
128       Atkinson                        4
129          Upson                        4
130        Stewart                        4
131       Brantley                        3
132         Jasper                        3
133         Taylor                        3
134     Oglethorpe                        3
135         Turner                        3
136         Dawson                        3
137          Towns                        3
138          Irwin                        3
139       Ben Hill                        2
140        Wheeler                        2
141        Quitman                        2
142     Taliaferro                        2
143       Treutlen                        2
144          Butts                        1
145          Evans                        1
146          Bacon                        1
147         Miller                        1
148         Echols                        1
149        Pulaski                        1
150          Rabun                        1
151         Schley                        1
152        Webster                        1
153  Chattahoochee                        1
154         Warren                        1
155       Stephens                        1
156       Bleckley                        1
157        Lumpkin                        1
158         Lanier                        1

In [93]:
counties_new.columns = counties_new.columns.map(str)
counties_new = counties_new.astype({'County': str, 'Number of polling sites': int})

print(counties_new)

            County  Number of polling sites
0           Fulton                      394
1           Dekalb                      193
2         Gwinnett                      156
3             Cobb                      145
4          Chatham                       92
5         Richmond                       68
6          Clayton                       65
7         Columbia                       47
8         Cherokee                       42
9            Henry                       37
10         Fayette                       36
11            Hall                       31
12            Bibb                       31
13         Carroll                       28
14       Dougherty                       28
15          Coweta                       26
16           Floyd                       25
17         Douglas                       25
18        Muscogee                       25
19          Clarke                       24
20       Whitfield                       23
21          Newton                       22
22          Walton                       21
23          Thomas                       20
24           Glynn                       20
25        Spalding                       20
26         Forsyth                       20
27        Paulding                       19
28        Colquitt                       19
29       Effingham                       17
30         Houston                       17
31          Bartow                       17
32        Rockdale                       16
33           Burke                       16
34         Laurens                       16
35           Dodge                       16
36         Bulloch                       16
37           Worth                       15
38         Baldwin                       14
39           Troup                       14
40          Camden                       14
41          Monroe                       14
42      Meriwether                       14
43           Banks                       13
44         Lowndes                       13
45          Gilmer                       13
46       Chattooga                       13
47         Liberty                       13
48           Grady                       13
49          Gordon                       13
50            Tift                       12
51            Ware                       12
52        Haralson                       12
53          Harris                       12
54          Oconee                       12
55           Wayne                       12
56          Fannin                       12
57         Madison                       12
58         Pickens                       12
59         Screven                       12
60           Union                       11
61         Catoosa                       11
62        Mitchell                       11
63          Sumter                       11
64         Emanuel                       11
65          Walker                       11
66          Elbert                       11
67           White                       11
68           Bryan                       10
69         Hancock                       10
70           Jones                       10
71             Lee                       10
72        Mcduffie                        9
73       Wilkinson                        9
74         Appling                        9
75      Jeff Davis                        9
76         Decatur                        9
77        Charlton                        8
78          Barrow                        8
79       Jefferson                        8
80      Washington                        8
81            Cook                        8
82           Early                        8
83        Tattnall                        8
84          Pierce                        8
85            Pike                        8
86          Murray                        7
87          Morgan                        7
88      Montgomery                        7
89           Peach                        7
90            Polk                        7
91            Long                        7
92        Franklin                        7
93            Dade                        7
94         Lincoln                        7
95          Talbot                        7
96       Habersham                        7
97            Hart                        7
98          Brooks                        7
99          Wilkes                        7
100         Coffee                        6
101       Randolph                        6
102        Telfair                        6
103        Terrell                        6
104         Wilcox                        6
105       Crawford                        6
106          Heard                        6
107          Lamar                        6
108       Mcintosh                        6
109          Crisp                        5
110          Macon                        5
111         Toombs                        5
112        Calhoun                        5
113         Greene                        5
114        Berrien                        5
115        Jenkins                        5
116           Clay                        5
117         Clinch                        5
118       Seminole                        5
119         Twiggs                        5
120          Dooly                        5
121         Putnam                        5
122          Baker                        5
123         Marion                        5
124       Glascock                        4
125        Johnson                        4
126        Candler                        4
127        Jackson                        4
128       Atkinson                        4
129          Upson                        4
130        Stewart                        4
131       Brantley                        3
132         Jasper                        3
133         Taylor                        3
134     Oglethorpe                        3
135         Turner                        3
136         Dawson                        3
137          Towns                        3
138          Irwin                        3
139       Ben Hill                        2
140        Wheeler                        2
141        Quitman                        2
142     Taliaferro                        2
143       Treutlen                        2
144          Butts                        1
145          Evans                        1
146          Bacon                        1
147         Miller                        1
148         Echols                        1
149        Pulaski                        1
150          Rabun                        1
151         Schley                        1
152        Webster                        1
153  Chattahoochee                        1
154         Warren                        1
155       Stephens                        1
156       Bleckley                        1
157        Lumpkin                        1
158         Lanier                        1

In [106]:
race['Area Name'] = race['Area Name'].str.split(' ').str[0]

race.head()

  Area Name              id  Total  Hispanic  White  Black  Asian  Mixed  Others  Population Density:Hispanic  Population Density: White  Population Density: Black  Population Density: Asian  Population Density: Mixed  Population Density: Others
0   Appling  0500000US13001  18444      1825  12674   3339    123    417      66                     0.098948                   0.687161                   0.181034                   0.006669                   0.022609                    0.003578
1  Atkinson  0500000US13003   8286      2048   4801   1208     12    167      50                     0.247164                   0.579411                   0.145788                   0.001448                   0.020154                    0.006034
2     Bacon  0500000US13005  11140       875   8103   1747     40    335      40                     0.078546                   0.727379                   0.156822                   0.003591                   0.030072                    0.003591
3     Baker  0500000US13007   2876       143   1514   1128     18     70       3                     0.049722                   0.526426                   0.392211                   0.006259                   0.024339                    0.001043
4   Baldwin  0500000US13009  43799      1139  22432  18318    599   1027     284                     0.026005                   0.512158                   0.418229                   0.013676                   0.023448                    0.006484

In [107]:
total_population = race[['Area Name', 'Total']].copy()
total_population.rename(columns={'Area Name': 'County'}, inplace=True)

In [108]:
total_population

            County    Total
0          Appling    18444
1         Atkinson     8286
2            Bacon    11140
3            Baker     2876
4          Baldwin    43799
5            Banks    18035
6           Barrow    83505
7           Bartow   108901
8              Ben    17194
9          Berrien    18160
10            Bibb   157346
11        Bleckley    12583
12        Brantley    18021
13          Brooks    16301
14           Bryan    44738
15         Bulloch    81099
16           Burke    24596
17           Butts    25434
18         Calhoun     5573
19          Camden    54768
20         Candler    10981
21         Carroll   119148
22         Catoosa    67872
23        Charlton    12518
24         Chatham   295291
25   Chattahoochee     9565
26       Chattooga    24965
27        Cherokee   266620
28          Clarke   128671
29            Clay     2848
30         Clayton   297595
31          Clinch     6749
32            Cobb   766149
33          Coffee    43092
34        Colquitt    45898
35        Columbia   156010
36            Cook    17229
37          Coweta   146158
38        Crawford    12130
39           Crisp    20128
40            Dade    16251
41          Dawson    26798
42         Decatur    29367
43          DeKalb   764382
44           Dodge    19925
45           Dooly    11208
46       Dougherty    85790
47         Douglas   144237
48           Early    10854
49          Echols     3697
50       Effingham    64769
51          Elbert    19637
52         Emanuel    22768
53           Evans    10774
54          Fannin    25319
55         Fayette   119194
56           Floyd    98584
57         Forsyth   251283
58        Franklin    23424
59          Fulton  1066710
60          Gilmer    31353
61        Glascock     2884
62           Glynn    84499
63          Gordon    57544
64           Grady    26236
65          Greene    18915
66        Gwinnett   957062
67       Habersham    46031
68            Hall   203136
69         Hancock     8735
70        Haralson    29919
71          Harris    34668
72            Hart    25828
73           Heard    11412
74           Henry   240712
75         Houston   163633
76           Irwin     9666
77         Jackson    75907
78          Jasper    14588
79            Jeff    14779
80       Jefferson    15709
81         Jenkins     8674
82         Johnson     9189
83           Jones    28347
84           Lamar    18500
85          Lanier     9877
86         Laurens    49570
87             Lee    33163
88         Liberty    65256
89         Lincoln     7690
90            Long    16168
91         Lowndes   118251
92         Lumpkin    33488
93        McDuffie    21632
94        McIntosh    10975
95           Macon    12082
96         Madison    30120
97          Marion     7498
98      Meriwether    20613
99          Miller     6000
100       Mitchell    21755
101         Monroe    27957
102     Montgomery     8610
103         Morgan    20097
104         Murray    39973
105       Muscogee   206922
106         Newton   112483
107         Oconee    41799
108     Oglethorpe    14825
109       Paulding   168661
110          Peach    27981
111        Pickens    33216
112         Pierce    19716
113           Pike    18889
114           Polk    42853
115        Pulaski     9855
116         Putnam    22047
117        Quitman     2235
118          Rabun    16883
119       Randolph     6425
120       Richmond   206607
121       Rockdale    93570
122         Schley     4547
123        Screven    14067
124       Seminole     9147
125       Spalding    67306
126       Stephens    26784
127        Stewart     5314
128         Sumter    29616
129         Talbot     5733
130     Taliaferro     1559
131       Tattnall    22842
132         Taylor     7816
133        Telfair    12477
134        Terrell     9185
135         Thomas    45798
136           Tift    41344
137         Toombs    27030
138          Towns    12493
139       Treutlen     6406
140          Troup    69426
141         Turner     9006
142         Twiggs     8022
143          Union    24632
144          Upson    27700
145         Walker    67654
146         Walton    96673
147           Ware    36251
148         Warren     5215
149     Washington    19988
150          Wayne    30144
151        Webster     2348
152        Wheeler     7471
153          White    28003
154      Whitfield   102864
155         Wilcox     8766
156         Wilkes     9565
157      Wilkinson     8877
158          Worth    20784

In [109]:
counties_new = counties_new.merge(total_population, on='County', how='inner')
counties_new.head()

     County  Number of polling sites    Total
0    Fulton                      394  1066710
1  Gwinnett                      156   957062
2      Cobb                      145   766149
3   Chatham                       92   295291
4  Richmond                       68   206607

In [110]:
for ind, row in counties_new.iterrows():
  counties_new.loc[ind,"Polling Site Density"]= row ['Number of polling sites']/row['Total']

In [111]:
counties_new

            County  Number of polling sites    Total  Polling Site Density
0           Fulton                      394  1066710              0.000369
1         Gwinnett                      156   957062              0.000163
2             Cobb                      145   766149              0.000189
3          Chatham                       92   295291              0.000312
4         Richmond                       68   206607              0.000329
5          Clayton                       65   297595              0.000218
6         Columbia                       47   156010              0.000301
7         Cherokee                       42   266620              0.000158
8            Henry                       37   240712              0.000154
9          Fayette                       36   119194              0.000302
10            Hall                       31   203136              0.000153
11            Bibb                       31   157346              0.000197
12         Carroll                       28   119148              0.000235
13       Dougherty                       28    85790              0.000326
14          Coweta                       26   146158              0.000178
15           Floyd                       25    98584              0.000254
16         Douglas                       25   144237              0.000173
17        Muscogee                       25   206922              0.000121
18          Clarke                       24   128671              0.000187
19       Whitfield                       23   102864              0.000224
20          Newton                       22   112483              0.000196
21          Walton                       21    96673              0.000217
22          Thomas                       20    45798              0.000437
23           Glynn                       20    84499              0.000237
24        Spalding                       20    67306              0.000297
25         Forsyth                       20   251283              0.000080
26        Paulding                       19   168661              0.000113
27        Colquitt                       19    45898              0.000414
28       Effingham                       17    64769              0.000262
29         Houston                       17   163633              0.000104
30          Bartow                       17   108901              0.000156
31        Rockdale                       16    93570              0.000171
32           Burke                       16    24596              0.000651
33         Laurens                       16    49570              0.000323
34           Dodge                       16    19925              0.000803
35         Bulloch                       16    81099              0.000197
36           Worth                       15    20784              0.000722
37         Baldwin                       14    43799              0.000320
38           Troup                       14    69426              0.000202
39          Camden                       14    54768              0.000256
40          Monroe                       14    27957              0.000501
41      Meriwether                       14    20613              0.000679
42           Banks                       13    18035              0.000721
43         Lowndes                       13   118251              0.000110
44          Gilmer                       13    31353              0.000415
45       Chattooga                       13    24965              0.000521
46         Liberty                       13    65256              0.000199
47           Grady                       13    26236              0.000496
48          Gordon                       13    57544              0.000226
49            Tift                       12    41344              0.000290
50            Ware                       12    36251              0.000331
51        Haralson                       12    29919              0.000401
52          Harris                       12    34668              0.000346
53          Oconee                       12    41799              0.000287
54           Wayne                       12    30144              0.000398
55          Fannin                       12    25319              0.000474
56         Madison                       12    30120              0.000398
57         Pickens                       12    33216              0.000361
58         Screven                       12    14067              0.000853
59           Union                       11    24632              0.000447
60         Catoosa                       11    67872              0.000162
61        Mitchell                       11    21755              0.000506
62          Sumter                       11    29616              0.000371
63         Emanuel                       11    22768              0.000483
64          Walker                       11    67654              0.000163
65          Elbert                       11    19637              0.000560
66           White                       11    28003              0.000393
67           Bryan                       10    44738              0.000224
68         Hancock                       10     8735              0.001145
69           Jones                       10    28347              0.000353
70             Lee                       10    33163              0.000302
71       Wilkinson                        9     8877              0.001014
72         Appling                        9    18444              0.000488
73         Decatur                        9    29367              0.000306
74        Charlton                        8    12518              0.000639
75          Barrow                        8    83505              0.000096
76       Jefferson                        8    15709              0.000509
77      Washington                        8    19988              0.000400
78            Cook                        8    17229              0.000464
79           Early                        8    10854              0.000737
80        Tattnall                        8    22842              0.000350
81          Pierce                        8    19716              0.000406
82            Pike                        8    18889              0.000424
83          Murray                        7    39973              0.000175
84          Morgan                        7    20097              0.000348
85      Montgomery                        7     8610              0.000813
86           Peach                        7    27981              0.000250
87            Polk                        7    42853              0.000163
88            Long                        7    16168              0.000433
89        Franklin                        7    23424              0.000299
90            Dade                        7    16251              0.000431
91         Lincoln                        7     7690              0.000910
92          Talbot                        7     5733              0.001221
93       Habersham                        7    46031              0.000152
94            Hart                        7    25828              0.000271
95          Brooks                        7    16301              0.000429
96          Wilkes                        7     9565              0.000732
97          Coffee                        6    43092              0.000139
98        Randolph                        6     6425              0.000934
99         Telfair                        6    12477              0.000481
100        Terrell                        6     9185              0.000653
101         Wilcox                        6     8766              0.000684
102       Crawford                        6    12130              0.000495
103          Heard                        6    11412              0.000526
104          Lamar                        6    18500              0.000324
105          Crisp                        5    20128              0.000248
106          Macon                        5    12082              0.000414
107         Toombs                        5    27030              0.000185
108        Calhoun                        5     5573              0.000897
109         Greene                        5    18915              0.000264
110        Berrien                        5    18160              0.000275
111        Jenkins                        5     8674              0.000576
112           Clay                        5     2848              0.001756
113         Clinch                        5     6749              0.000741
114       Seminole                        5     9147              0.000547
115         Twiggs                        5     8022              0.000623
116          Dooly                        5    11208              0.000446
117         Putnam                        5    22047              0.000227
118          Baker                        5     2876              0.001739
119         Marion                        5     7498              0.000667
120       Glascock                        4     2884              0.001387
121        Johnson                        4     9189              0.000435
122        Candler                        4    10981              0.000364
123        Jackson                        4    75907              0.000053
124       Atkinson                        4     8286              0.000483
125          Upson                        4    27700              0.000144
126        Stewart                        4     5314              0.000753
127       Brantley                        3    18021              0.000166
128         Jasper                        3    14588              0.000206
129         Taylor                        3     7816              0.000384
130     Oglethorpe                        3    14825              0.000202
131         Turner                        3     9006              0.000333
132         Dawson                        3    26798              0.000112
133          Towns                        3    12493              0.000240
134          Irwin                        3     9666              0.000310
135        Wheeler                        2     7471              0.000268
136        Quitman                        2     2235              0.000895
137     Taliaferro                        2     1559              0.001283
138       Treutlen                        2     6406              0.000312
139          Butts                        1    25434              0.000039
140          Evans                        1    10774              0.000093
141          Bacon                        1    11140              0.000090
142         Miller                        1     6000              0.000167
143         Echols                        1     3697              0.000270
144        Pulaski                        1     9855              0.000101
145          Rabun                        1    16883              0.000059
146         Schley                        1     4547              0.000220
147        Webster                        1     2348              0.000426
148  Chattahoochee                        1     9565              0.000105
149         Warren                        1     5215              0.000192
150       Stephens                        1    26784              0.000037
151       Bleckley                        1    12583              0.000079
152        Lumpkin                        1    33488              0.000030
153         Lanier                        1     9877              0.000101

In [112]:
counties_new.to_csv('data/polling_site_data_new/clean.csv')

## Viewing the shapefile and checking if merging works for precinct

In [ ]:
precinct = pd.read_csv("data/race_precinct_data/cleaned_georgia_race_precinct_densities.csv")

precinct.head(10)

In [ ]:
shapefile = gpd.read_file("data/test/cb_2020_13_vtd_500k.shp")

shapefile.head(10)

In [ ]:
merged = pd.merge(precinct, shapefile, left_on=precinct['id'], right_on=shapefile['AFFGEOID20'], how="left")

In [ ]:
merged

In [ ]:

# set the value column that will be visualised
variable = 'Hispanic'
# set the range for the choropleth values
vmin, vmax = 0, 100
# create figure and axes for Matplotlib
fig, ax = plt.subplots(1, figsize=(30, 10))
# remove the axis
ax.axis('off')
# add a title and annotation
ax.set_title('White Choropleth Map', fontdict={'fontsize': '25', 'fontweight' : '3'})
#ax.annotate('Source: Wikipedia - https://en.wikipedia.org/wiki/Provinces_of_Indonesia', xy=(0.6, .05), xycoords='figure fraction', fontsize=12, color='#555555')
# Create colorbar legend
sm = plt.cm.ScalarMappable(cmap='Blues', norm=plt.Normalize(vmin=vmin, vmax=vmax))
# empty array for the data range
sm.set_array([]) # or alternatively sm._A = []. Not sure why this step is necessary, but many recommends it
# add the colorbar to the figure
fig.colorbar(sm)
# create map
merged.plot(column=variable, cmap='Blues', linewidth=0.8, ax=ax, edgecolor='0.8')

In [ ]:
print(race[race['Area Name'].str.contains('Fulton')])
print(race[race['Area Name'].str.contains('Columbia')])

The names of the area are different. Will remove ',', 'County' and ',Georgia from the race data. Then will create a new column joining the columns 'prec_shp' and 'locality'.

In [ ]:
def remove_string(string):
    race['Area Name'] = race['Area Name'].str.replace(str(string), '')
    race['Area Name'] = race['Area Name'].str.strip()

remove_string(',')
remove_string('County')
remove_string('Georgia')

In [ ]:
shapefile['Area Name'] = shapefile['prec_shp'].str.upper() + ' ' + shapefile['locality'].str.capitalize()

shapefile['Area Name'].head(5)

In [ ]:
print(race[race['Area Name'].str.contains('Fulton')])

In [ ]:
shapefile[shapefile['Area Name'].str.contains('Appling')]

In [ ]:
merged = pd.merge(race, shapefile, left_on=race['Area Name'].str.casefold(), right_on=shapefile['Area Name'].str.casefold(), how="left")

merged.head(5)

In [ ]:
merged_isna = merged[merged.isna().any(axis=1)]

exogenous random, not related to the research

In [ ]:
print(merged_isna)